<% content_for(:title) { 'About'} %>
<h1>Welcome to Ruby Gardens About</h1>
<div>
<h3>На кого рассчитан курс?  </h3>
<p>Мы приглашаем разработчиков, интересующихся Ruby on Rails, готовых в ближайшее время работать с данной технологией. Увлеченность и самостоятельное «копание» приветствуется!</p>
<p>Впервые для участия в проекте приглашаются студенты 4-5 курсов технических ВУЗов! </p>
<p >Предпочтение отдается кандидатам уже имеющим опыт web-разработки, со знанием английского языка не ниже Intermediate.</p>
<p>
<a title="http://rubygardens.org/ru/obuchenie/programma-treninga" href="http://rubygardens.org/ru/obuchenie/programma-treninga">Программу тренинга вы найдете здесь</a>
</p>
<h3>При чем здесь Altoros? </h3>
<p>RubyGardens – внутренний образовательный проект компании Altoros. Почему мы «растим» Ruby-разработчиков?</p>
<p>1. Потому что в Altoros работает одна из самых крупных в Беларуси команда Ruby-разработчиков. Средний опыт работы в сфере IT у сотрудников отдела – 6 лет. 85% разработчиков – это специалисты Senior и Lead уровня.</p>
<p>2. Потому что Altoros участвует в Ruby-проектах компаний с мировым именем (RightScale, Shoedazzle, Couchbase и другие), что дает возможность получения уникального опыта работы, профессионального и карьерного роста. </p>
<p>
3. Потому что мы любим Ruby, поддерживаем сообщество
<a target="_blank" title="http://www.belarusrubyonrails.org/" href="http://www.belarusrubyonrails.org/">Ruby-разработчиков</a>
Беларуси и делаем все для развития данной технологии в нашей стране.
</p>
<p>Данный набор – уже третий в RubyGardens. Сегодня наши выпускники работают на крупных проектах ведущих технологических компаний и строят успешную карьеру. Именно так все и получилось у Вадима Голуба, прошедшего у нас курс обучения прошлой зимой.</p>
</div>