<% content_for(:title) { 'Home'} %>
<h1>Welcome to Ruby Gardens Home</h1>
<h3>Do IT Ruby Way!</h3>
<p>
Приглашаем на курсы по Ruby on Rails! Осенний призыв на курсы RubyGardens стартует уже в сентябре, а это значит, что у всех желающих снова появляется возможность ступить на Ruby Way. RubyGardens позволяет в сжатые сроки переучиться на Ruby on Rails с любого языка web-разработки, а также получить полноценное обучение тем, кто только начинает свою профессиональную деятельность.
</p>