<% content_for(:title) { 'Who We Are' } %>
<h1>Who We Are</h1>
 
<table>
  <% @emails.each do |email| %>
  	<tr>
    	<th><%= image_tag generation_link_to_gravatar(email) %></th>
    	<th><%= generation_name(email) %></th>
	</tr>
  <% end %>
</table>